img {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet: 768px - 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  img {
    width: 70%;
  }
}

/* Mobile: up to 767px */
@media (max-width: 767px) {
  img {
    width: 95%;
  }
}
