a{
	font-family: sans-serif;
	color: green;
	font-size: 50px;
}

a:hover{
	font-family: monospace;
	color: purple;
	font-size: 25px;
}

a:active{
	color: white;
	background-color: blue;
	font-size: 100px;
}

div{
	width: 500px;
	height: 500px;
	background-color: green;
}

div:before{
	content: "\03a9";
}

div:after{
	content: url(https://media.giphy.com/media/gj0QdZ9FgqGhOBNlFS/giphy.gif?cid=790b7611sxjhxs8zy8rrsetowwrc9pa12aaalqemcnic8sfd&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}