a{
	font-family: sans-serif;
	color: green;
	font-size: 50px;
}

a:hover{
	font-family: monospace;
	color: purple;
	font-size: 25px;
}

a:active{
	color: white;
	background-color: blue;
	font-size: 100px;
}

div{
	width: 500px;
	height: 500px;
	background-color: green;
}

div:before{
	content: "\03a9";
}

div:after{
	content: url(https://www.vecteezy.com/photo/29259238-photo-of-a-muscovy-duck-in-the-farmland-generative-ai);
}